$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

body,
html {
  overflow-x: hidden;
}

nav {
  height: 100px;
  padding: 0px 10%;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  .links-container {
    padding: 0px;
    box-sizing: border-box;

    ul {
      margin: 0px;

      .links {
        display: inline-block;
        padding-right: 20px;
        a {
          color: $white;
          text-decoration: none;
          box-sizing: border-box;
          transition: all 0.3s ease;
          text-transform: uppercase;
          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }

  .menu {
    display: none;
  }
}

.hero {
  background-image: url(images/image-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10%;
  width: 100vw;

  h1 {
    color: $white;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    width: 60%;
    font-size: 4rem;
    border: 3px solid $white;
    padding: 30px;
  }
}

.image-section {
  padding: 100px 10%;
  position: relative;

  .img {
    width: 65%;
  }
  .text-container {
    width: 600px;
    background-color: white;
    position: absolute;
    right: 10%;
    bottom: 10px;
    padding: 90px;
    h1 {
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
    }
    p {
      font-family: "Alata", sans-serif;
      color: $darkGray;
    }
  }
}

.creations {
  padding: 100px 10%;
  font-family: "Josefin Sans", sans-serif;

  .header {
    text-transform: uppercase;

    button {
      background-color: transparent;
      border: 2px solid black;
      width: 200px;
      transition: all 0.3s ease;
      &:hover {
        background-color: black;

        a {
          color: white;
        }
      }

      a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .creations-img {
    margin-top: 40px;
    flex-wrap: wrap;
    .creation {
      background: linear-gradient(rgba(255, 255, 255, 0), #030303a9),
        url(images/image-deep-earth.jpg);
      height: 500px;
      width: 250px;
      background-position: center;
      background-size: cover;
      position: relative;
      margin: 20px 10px;

      h1 {
        color: $white;
        position: absolute;
        left: 10%;
        bottom: 5%;
        text-transform: uppercase;
        font-size: 2rem;
      }

      &:nth-child(2) {
        background-image: linear-gradient(rgba(255, 255, 255, 0), #030303a9),
          url(images/image-night-arcade.jpg);
      }
      &:nth-child(3) {
        background-image: linear-gradient(rgba(255, 255, 255, 0), #030303a9),
          url(images/image-soccer-team.jpg);
      }
      &:nth-child(4) {
        background-image: linear-gradient(rgba(255, 255, 255, 0), #030303a9),
          url(images/image-grid.jpg);
      }
      &:nth-child(5) {
        background-image: linear-gradient(rgba(255, 255, 255, 0), #030303a9),
          url(images/image-from-above.jpg);
      }
      &:nth-child(6) {
        background-image: linear-gradient(rgba(255, 255, 255, 0), #030303a9),
          url(images/image-pocket-borealis.jpg);
      }
      &:nth-child(7) {
        background-image: linear-gradient(rgba(255, 255, 255, 0), #030303a9),
          url(images/image-curiosity.jpg);
      }
      &:nth-child(8) {
        background-image: linear-gradient(rgba(255, 255, 255, 0), #030303a9),
          url(images/image-fisheye.jpg);
      }

      .color-overlay {
        width: 100%;
        height: 100%;
        transition: all 0.4s ease;
        &:hover {
          background-color: #ffffff48;
        }
      }
    }
  }
}

footer {
  background-color: black;
  margin-top: 50px;
  padding: 50px 10%;

  .menu {
    text-align: left;

    ul {
      padding-left: 0px;
      margin-top: 40px;
      li {
        display: inline-block;
        text-decoration: none;
        margin-right: 30px;
        a {
          color: white;
          font-family: "Alata", sans-serif;
        }
      }
    }
  }

  .accounts {
    text-align: right;
    .icon {
      margin-left: 20px;
    }

    .copyright {
      margin-top: 40px;
      color: white;
    }
  }
}

@media only screen and (max-width: 1120px) {
  .image-section {
    display: flex;
    .img {
      width: 50%;
    }

    .text-container {
      position: static;
    }
  }
}

@media only screen and (max-width: 768px) {
  nav {
    .links-container {
      position: absolute;
      height: calc(100vh - 100px);
      background-color: black;
      width: 100vw;
      top: 0;
      margin-top: 100px;
      left: 0;
      transform: tra;
      padding-left: 5%;
      transform: translateX(100%);
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      .close {
        margin-top: 5%;
        margin-right: 5%;
        top: 0;
        right: 0;
      }
      .links {
        font-size: 2rem;
        font-family: "Josefin Sans", sans-serif;
      }
    }

    .menu {
      display: block;
    }
  }

  .hero {
    h1 {
      width: 100%;
      font-size: 4rem;
    }
  }

  .creations {
    padding: 100px 5%;
    position: relative;

    .header {
      button {
        position: absolute;
        width: 50%;
        padding: 10px;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  footer {
    .menu {
      ul {
        text-align: center;
        li {
          display: block;
          margin-top: 10px;
          margin-right: 0px;
        }
      }
    }

    .accounts {
      margin-top: 20px;
      text-align: center;
      padding: 0px;
      .icon {
        // background-color: green;
        margin: 0px;
        margin: 0px 5px;
      }
    }
  }

  .image-section {
    flex-direction: column;
    .img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .text-container {
      width: 100%;
      padding: 100px 20px 40px 0px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    h1 {
      font-size: 3rem;
    }
  }

  .creations {
    padding: 100px 5%;
    position: relative;

    .header {
      button {
        position: absolute;
        width: 50%;
        padding: 10px;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .creations-img {
      .creation {
        width: 100%;
        height: 175px;
        background-position: top;

        h1 {
          width: 50%;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    h1 {
      font-size: 2rem;
    }
  }
}
